<header class="wrapper row full-center">
        <!-- Logo -->
  <div class=" logo-container row gap-05">
        <!-- Logo image -->
    <img src="assets/images/logo.svg" alt="Logo image" class="logo" />
  
    <h2 class="logo">Fuoye FAQS Chatbot</h2>
    
  </div>
 
  <!-- Navigation -->
  <div class="row gap-1">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/faqs" routerLinkActive="active">Dataset</a>
    
    <a href="https://www.google.com" routerLinkActive="active">FUOYE</a>

  
  </div>
</header>